body{
    margin: 0;
    padding: 0;
    background-image: url('../ressources/img/velodrome.jpg');
}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 80vh;
    font-family: Montserrat;
}

.txtOm{
    width: 25%;
    text-align: center;
}